@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.eci-watermark {
  position: relative;
  background-color: #d1fae5; /* emerald-100 fallback */
}

.eci-watermark::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/17/Ashoka_Chakra.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px;
  opacity: 0.04;
  pointer-events: none;
}


